.shop__section {
    position: relative;
    @media (max-width: 768px) {
        margin-top: 100px;
    }
}
.shop__wrapper {
    margin-bottom: 103px;
}

.shop__filter--title {
    text-align: center;
    font-weight: 700;
    font-size: 47px;
    line-height: 48px;
    text-transform: uppercase;
    color: #000000;
    @media (max-width: 768px) {
        font-size: 32px;
        line-height: 34px;
    }
}

.shop__sort {
    width: 500px;

    margin: 0 auto;
    color: #000000;
    font-size: 20px;
    margin-top: 150px;
    margin-bottom: -80px;
    @media (max-width: 1100px) {
        margin-top: 280px;
        margin-bottom: -240px;
    }
    @media (max-width: 768px) {
        width: 80%;
        margin-top: 300px;
    }
    
    ul {
        display: flex;
        align-items:center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;
        li {
            cursor: pointer;
            transition: color 0.6s;
            &:hover {
                text-decoration: underline;
                color: #8ba969
            }
        }   
    }
}


.shop__list {
    color: #000000;
    margin-top: 160px;
    @media (max-width: 1100px) {
        margin-top: 300px;
    }
}
.shop__row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 36px;
    @media (max-width: 768px) {
        gap: 40px;
    }
}

.shop__item {
    width: 240px;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    padding-bottom: 10px;
}
.img__flower {
    width: 240px;
    height: 240px;
    a {
        img {
            
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.item__title {
    margin-top: 11px;
    padding-left: 15px;
}
.as {
    height: 90px;
}
.item__price {
    margin-top: 5px;
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}
.item__btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    background: #8ba969;
    box-shadow: 0px 1.20547px 5.42462px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 12px 70px;
    text-align: center;
    max-width: 215px;
    margin: 0 auto;
    display: block;
    transition: all 0.3s;
    &:hover {
        opacity: 0.8;
    }
}
