.popup__wrapper {
    padding: 20px;
    position: fixed;
    display: block;
    z-index: 12;
    width: 800px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    min-height: 300px;
    margin: 0 auto;
    background-color: #fff;
    @media (max-width: 1060px) {
        max-width: 90%;
        min-height: 300px;
    }
    @media (max-width: 420px) {
        padding: 10px;
    }
}
.popup__close-btn {
    position: absolute;
    top: 25;
    right: 25px;
    cursor: pointer;
    span {
        width: 25px;
        height: 3px;
        background-color: black;
        display: block;
    }
    .left {
        rotate: 45deg;
    }
    .right {
        rotate: 135deg;
        margin-top: -3px;
    }
}
.cart__list {
    margin-top: 20px;
}
.cart__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.cart__popup--footer {
    margin: 0 auto;
    max-width: 400px;
    margin-top: 30px;
    @media (max-width: 768px) {
        max-width: 90%;
    }
}
.popup-footer__text {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    line-height: 144.52%;
    @media (max-width: 768px) {
        margin-top: 40px;
        font-size: 16px;
    }
}
.items--sum {
    margin-left: 30px;
    color: #8ba969;
    font-weight: 500;
}
.popup-footer__btn {
    text-align: center;
    margin-top: 21px;
    cursor: pointer;
    font-weight: 500;
    font-size: 17.1315px;
    line-height: 15px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px 1px;
    border-radius: 5px;
    background: #8ba969;
    box-shadow: 0px 1.76791px 7.95558px rgba(0, 0, 0, 0.05);
    transition: all 0.3s;
    &:hover {
        opacity: 0.7;
    }
    @media (max-width: 768px) {
        text-align: center;
        padding: 16px 6px;
    }
}

.cart {
    &__popup {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: #fff;
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        transition: visibility 0.6s;
        transition: opacity 0.6s;

        &_active {
            visibility: visible;
            opacity: 1;
            left: 0;
            z-index: 20;
            transition: visibility 0.6s;
            transition: opacity 0.6s;
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.7;
        z-index: 11;
    }
    &-item__img {
        margin-left: 30px;
        img {
            cursor: pointer;
            max-width: 90px;
            @media (max-width: 768px) {
                max-width: 65px;
            }
            @media (max-width: 420px) {
                max-width: 70px;
            }
        }
        @media (max-width: 768px) {
            margin-left: 15px;
        }
    }
    &-item__name {
        font-weight: 400;
        font-size: 20px;
        line-height: 144.52%;
        @media (max-width: 768px) {
            font-weight: 400;
            font-size: 14px;
        }
    }
    &-item__price {
        position: absolute;
        right: 25px;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #8ba969;
        @media (max-width: 768px) {
            font-size: 16px;
        }
        @media (max-width: 578px) {
            font-size: 15px;
            bottom: -13px;
            left: 111px;
        }
    }
    &-item__delete {
        cursor: pointer;
        span {
            width: 17px;
            height: 3px;
            background-color: black;
            display: block;
        }
        .left {
            rotate: 45deg;
        }
        .right {
            rotate: 135deg;
            margin-top: -3px;
        }
    }
    &-item__wrapp {
        margin-left: 34px;
        @media (max-width: 768px) {
            margin-left: 14px;
        }
        @media (max-width: 578px) {
            margin-top: -20px;
        }
    }
    &-item__counter {
        display: flex;
        gap: 5px;
        padding: 5px 8px;
        border: 1px solid #8ba969;
        max-width: 130px;
        justify-content: space-around;
        border-radius: 20px;
        font-size: 20px;
        @media (max-width: 768px) {
            font-size: 14px;
        }
        @media (max-width: 420px) {
            max-width: 100px;
            padding: 2px 4px;
        }
    }
    &-counter--btn {
        font-weight: 500;
        color: #000000;
        width: 28px;
        height: 28px;
        background: #8ba969;
        box-shadow: 0px 2.06646px 9.29906px rgba(0, 0, 0, 0.05);
        border-radius: 10.3323px;
        border: 1px solid #8ba969;
        line-height: 10px;
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
        }
        @media (max-width: 420px) {
            width: 20px;
            height: 20px;
        }
    }
    &-btn-mines {
        background: white;
        &:hover {
            box-shadow: 0px 0px 10px black;
        }
    }
    &-count--number {
        font-weight: 500;
        line-height: 0px;
        text-transform: uppercase;
        color: #ffffff;
        width: 100%;
        height: 28px;
        background: #8ba969;
        box-shadow: 0px 2.06646px 9.29906px rgba(0, 0, 0, 0.05);
        border-radius: 10.3323px;
        max-width: 30px;
        @media (max-width: 420px) {
            height: 20px;
        }
    }
    &-btn-plus {
        color: white;
    }
}

.count_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    text-align: center;
    margin-left: 0;
}
